.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	h1 {
		font-size: 1.2rem;
	}

	&__btn-wrapper {
		display: flex;
		gap: 1rem;
	}

	@media screen and (max-width: 360px) {
		h1,
		button {
			font-size: 0.8rem;
		}
	}
}
