.table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 0.25rem;
	overflow: hidden;

	thead {
		background: linear-gradient(
			90deg,
			rgba(9, 120, 177, 1) 0%,
			rgba(7, 128, 196, 1) 57%,
			rgb(0, 149, 255) 100%
		);

		th {
			color: white;
			padding: 0.5rem;
		}
	}

	tbody {
		td {
			padding: 0.5rem;
			text-align: center;

			button {
				margin-left: 10px;
				cursor: pointer;
				i:hover {
					color: blue;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.table {
		thead {
			display: none;
		}

		tr {
			background: rgb(227, 227, 227);
			border-radius: 5px;
			border: 1px solid black;
			margin-bottom: 1rem;
			padding: 1rem;
		}
		tbody {
			td {
				text-align: right;
				padding-left: 50%;
				position: relative;
				border: 1px solid black;
				border-bottom: none;

				&:last-child {
					border-bottom: 1px solid black;
				}

				&::before {
					content: attr(data-label);
					position: absolute;
					left: 0;
					width: 50%;
					padding-left: 15px;
					text-align: left;
				}
			}
		}
	}

	.table,
	.table tbody,
	.table tr,
	.table td {
		display: block;
		width: 100%;
	}
}
